.navbar {
    background: @carbon;
}

.navbar-default {
    border: none;
    border-radius: 0;
    .navbar-brand {
        color: @sky;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 150%;
    }
    .navbar-nav {
        &>li {
            &>a {
                color: @lightgray;
                &:hover {
                    color: @sky;
                }
            }
        }
        &>.active {
            a {
                color: @watermelon;
                background-color: @lightgray;
            }
        }
    }
}


.table>thead>tr>th {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 120%;
}

.table-striped>tbody>tr:nth-of-type(odd){
    background-color: @lightgray;
}

footer {}