.navbar {
    background: @carbon;
}

.navbar-collapse {
    .collapse {
        display: block;
    }
}

.navbar-default {
    border: none;
    border-radius: 0;
    .navbar-brand {
        color: @sky;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 150%;
    }
    .navbar-nav {
        &>li {
            &>a {
                color: @lightgray;
                &:hover {
                    color: @sky;
                }
            }
        }
        &>.active {
            a {
                color: @watermelon;
                background-color: @lightgray;
            }
        }
    }
}

.table>thead>tr>th {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 120%;
}

.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: @lightgray;
}

.cta {
    box-sizing: border-box;
    display: table;
}

.cta-section {
    height: 100%;
    display: table-cell;
    vertical-align: top;
    width: 50%;
}

.cta-content {
    display: inline-block;
    margin: 10px;
//    background: @sky;
    border-radius: 6px;
    padding: 5px 15px 15px;
    height: 100%;
    width: 100%;
}

.right {
    float: right;
    margin-left: 15px;
}

.cta-icon {
    width: 100px;
}

footer {}