/**
 * importer.less
 *
 * By default, new Sails projects are configured to compile this file
 * from LESS to CSS.  Unlike CSS files, LESS files are not compiled and
 * included automatically unless they are imported below.
 *
 * The LESS files imported below are compiled and included in the order
 * they are listed.  Mixins, variables, etc. should be imported first
 * so that they can be accessed by subsequent LESS stylesheets.
 *
 * (Just like the rest of the asset pipeline bundled in Sails, you can
 * always omit, customize, or replace this behavior with SASS, SCSS,
 * or any other Grunt tasks you like.)
 */
@import url('https://fonts.googleapis.com/css?family=Archivo+Narrow:700|Source+Sans+Pro:400,700');
.navbar {
  background: #A9A9A9;
}
.navbar-default {
  border: none;
  border-radius: 0;
}
.navbar-default .navbar-brand {
  color: #CAEBF2;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 150%;
}
.navbar-default .navbar-nav > li > a {
  color: #FBFDFD;
}
.navbar-default .navbar-nav > li > a:hover {
  color: #CAEBF2;
}
.navbar-default .navbar-nav > .active a {
  color: #FF3B3F;
  background-color: #FBFDFD;
}
.table > thead > tr > th {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 120%;
}
.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #FBFDFD;
}
body {
  font-family: 'Source Sans Pro', sans-serif;
  color: #545454;
  background: #FBFDFD;
}
h1,
h2,
h3,
h4,
h5,
.jumbotron h1 {
  font-family: 'Archivo Narrow', sans-serif;
  color: #FF3B3F;
}
h1 {
  color: #FF3B3F;
  text-transform: uppercase;
  letter-spacing: 1px;
}
a {
  color: #A9A9A9;
}
a:hover {
  color: #FF3B3F;
}
.btn {
  border: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background: none;
  cursor: pointer;
  padding: 10px 20px;
  display: inline-block;
  margin: 10px auto;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  border: 3px solid #A9A9A9;
  color: #A9A9A9;
  box-sizing: border-box;
  width: 100%;
}
.btn:after {
  content: '';
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
.btn:hover,
.btn:active {
  color: #FF3B3F;
  border-color: #FF3B3F;
}
.btn:focus {
  color: #CAEBF2;
  border-color: #CAEBF2;
}
.jumbotron {
  background: #CAEBF2;
}
